@charset "UTF-8";

h1,h2,h3,h4,div,p,header,body,
section,article,footer,figure, ul {
    margin: 0; 
    padding: 0;
}

body {font-family: 'Roboto', sans-serif;}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.contenedor {
    width: 86%;
    margin: 0 auto;
}

/*Cabecera*/
.cabecera {
    text-align: center;
    margin-top: 8px;
}

.cabecera img {
    /*Logo*/
    width: 42px;
    margin-right: 10px;
    float: left;
}

.cabecera div {
    display: inline-block;
    margin-top: 2px;
}

/*Los p*/
.cabecera div p {
    color: #333333;
    font-size: 14px;
    font-weight: 900;
    line-height: 1.2;
}

.cabecera div p span {
    color: #707F89;
    font-size: 10px;
    font-weight: 400;
}
.cabecera button {
    float: right;
}

/*Hero*/
.hero {
    height: 400px;
    background-image: url("../img/hero.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero div {
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.55);
    text-align: center;
    padding: 55px 0;
}

.hero div p {
    font-size: 15px;
    color: #2E5180;
    margin: 10px 0 -10px 0;
}

.hero div img {
    max-width: 100%;
    height: auto;

}

.mensaje {
    background-color: #2e5180;
    color: white;
    padding: 67px 0;
}

/*Deben tener el elemento las dos clases*/
.mensaje h2 {
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    margin-bottom: 38px;
}

.mensaje p {
    font-size: 26px;
    line-height: 1.73;
    text-align: justify;
    padding: 0 15px;
}

/*Servicios*/
.servicios {
    text-align: center;
    margin: 67px auto;
}

/*currentColor coge el mismo color que el texto*/
.servicios h2 {
    font-size: 26px;
    color: #2e5180;
    border-bottom: 2px dotted currentColor;
    width: 70%;
    margin: 0 auto;
    display: inline-block;
    padding: 0 7px;
}

.servicios p {
    color: #2E5180;
    font-size: 16px;
}

/*clase servicios*/
.caracteristicas figure img {
    max-width: 100%;
    margin: auto;
    height: 246px;
    vertical-align: bottom;
    margin-top: 53px;
}

.caracteristicas h3 {
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 17px;
}

.caracteristicas p {
    font-size: 13px;
    max-width: 264px;
    margin: 0 auto 25px;
    line-height: 1.85;
    color: #333333;
}

/* Contacto */
.contacto {
    background-color: #eef4f8;
    padding: 62px 20px;
    color: #333333;
}

.contacto h2 {
    font-size: 26px;
    margin-bottom: 42px;
}

.contacto > p { /*selector: p es el hijo directo de contacto*/
    font-size: 13px;
    line-height: 2;
}

form {
    margin-top: 46px;
}

.contacto form input[type="text"],
.contacto form input[type="email"],
.contacto form textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 14px 20px 14px;
    border: solid 1px #cdd6dd;
    margin-bottom: 10px;
    color: #333333;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.contacto form::placeholder {
    color: #888888;
}

.contacto form textarea {
    height: 150px;
}

/* Botón */
.cabecera button {
    float: right;
}

.btn-nav {
    box-sizing: border-box;
    padding: 0;
    outline: none;
    border: none;
    background: none;

    width: 20px;
    height: 14px;
    cursor: pointer;
    color: #2e5180;
}

.btn-nav::before,
.btn-nav::after {
    content: '';
    display: block;
    height: 2px;
    background-color: currentColor;

    transform: translateY(-5px);
}

.btn-nav::before {
    box-shadow: 0 6px currentColor;
    transform: translateY(-5px);
}

.btn-nav::after {
    transform: translateY(5px);
}

.btn {
    display: block;
    text-decoration: none;
    color: #2E5180;
    justify-content: center;
    width: 248px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 14px;
    border-radius: 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: solid 2px currentColor;
}

.contacto form input[type="submit"] {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    border: none;
    background-color: #2e5180;
    color: white;
    margin: 0;
    cursor: pointer;
}

/* Footer */
.pie {
    padding: 38px 0 56px;
    background-color: #2E5180;
}

.pie img {
    width: 47px;
    margin-right: 14px;
    float: left;
}

.pie p {
    color: white;
    font-size: 18px;
    font-weight: 900;
    line-height: 47px;
}

.pie address {
    color: white;
    font-size: 12px;
    font-style: normal;
    margin: 20px 0 36px 60px;
    line-height: 1.6;
}

.pie ul {
    list-style: none;
    margin-left: 60px;
}

.pie ul li img {
    display: inline;
    width: 35px;
    height: 35px;
}
